{% extends 'base_layout.html' %}

{% block title %}IVF goup ETH - Contact{% endblock title %}


{% block additional_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/aboutStyle.css') }}" type="text/css">

{% endblock additional_style %}



{% block body %}

<div id="about-page-cont" class="container">
    <div class="row">
        <div class="col-md-6 pe-5">
            <h1 class="about text-center">About.</h1>
            <hr class="mt-1">
            <p class="mt-4">My name is Selome Yigrem, I had been in Infertility Journey for more than 5 years and finally had 2 kids with IVF. There is nothing easy about fertility struggles, If it wasn’t for God and a friend who was going through Infertility issues as me, it would have been harder or might not have the courage to do make it. Which gave me strength to support other women who was going through same issues, holding hands, shoulder to cry on & cry with, borrow my faith & hope, sharing my experience & wisdom I gat from it. which I feel so blessed to be part of. </p>
            <p>Surprisingly Infertility is a common diagnosis, affecting millions of couples, one in 8 couple experience infertility but many choose not to talk about it (more so in our culture).  Which makes managing it harder and makes the person feel you are all alone in the process(isolated).</p>
            <p>So this platform is created so it can give you support (not only from me but with each other) while empowering the woman who are not comfortable to share who they are but ready to share/help others.   </p>
            <p id="ul-lead">Thankfully this group can serve this and beyond as</p>
            <ul>
                <li>As a support group (currently online here, through social media, and in person meetings coming up) Where you can share your story, challenges, cases, shaming’s, questions, (where keep your confidentially as no one wouldn’t know who you are (giving you a freedom of being real))</li>
                <li>Learn from others who have been in the same Journey and made it through (have medical treatment, IVFs, IUI, adoption, & learn to live their life still feeling fulfilled)</li>
                <li>Get Hope how some made it through despite lots of challenges & complications</li>
                <li>Get emotional supports, ask questions, share wisdoms</li>
                <li>Get on the monthly IVF/IUI tribe (woman going treatment the same season or month)</li>
            </ul>

            <p>Infertility challenges are not one-size-fits all, We can find strength from each other.</p>
            <a class="join" href="{{ url_for('auth_signup') }}"><p style="color:rgb(255, 116, 23);" class="text-center">Join Our Group</p></a>
            <p id="ul-lead">Group Rules</p>
            <ul>
                <li>In these group, advertising, selling, donating, trading, exchanging medicines or hospitals is not allowed.</li>
                <li>Be kind and courteous to others, as we are only here to support each other.</li>
                <li>Pregnancy Talks/questions are not allowed in this group as there are many support groups for this.</li>
                <li>Personal pictures shouldn’t be posted in order to keep things privately and do not share others pictures in order to keep their privacy.</li>
                <li>Insert your challenges in Codes, so it would be easier for our Database</li>
            </ul>
        </div>
        <div class="col-md-6">
            <img src="{{ url_for('static', filename='img/womenAbout.png') }}" alt="">
        </div>

    </div>
</div>

{% endblock body %}





{% block additional_script %}
<!-- to be filled in -->
{% endblock additional_script %}