{% extends 'base_layout.html' %}

{% block title %}IVF goup ETH - Contact{% endblock title %}


{% block additional_style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/eventStyle.css') }}" type="text/css">

{% endblock additional_style %}



{% block body %}

<div id="lead-cont" class="container-fluid d-flex align-items-center justify-content-center">
    <div class="text-center">
        <span class="center">EVENTS</span>
    </div>
</div>

<div class="container-fluid" id="events-body"> 
    <div class="upcoming-events"><i class="far fa-calendar-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Upcoming Events<hr id="hr"></div>
    
    <div id="cont" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 img-cont">
            <img src="https://images.unsplash.com/photo-1572866649630-bd38af3d527c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=80" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9" style="padding-left: 1rem;">
            <div class="card-body">
              <h5 class="card-title pb-2">Women's Day</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque varius morbi enim nunc. Id eu nisl nunc mi.  Tempor id eu nisl nunc mi. Enim neque volutpat ac tincidunt. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
              <span><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;50 ETB</span><span><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Addis Ababa</span><span><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;July 31, 2021</span><span><a class="google-map" href="https://www.google.com/maps">Google Maps&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-square-alt"></i></a></span>
            </div>
          </div>
        </div>
    </div>

    <div id="cont" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 img-cont">
            <img src="https://images.unsplash.com/photo-1588532894089-2d30637e3ca8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGV2ZW50c3xlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9" style="padding-left: 1rem;">
            <div class="card-body">
              <h5 class="card-title pb-2">Loving Actually</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque varius morbi enim nunc. Id eu nisl nunc mi.  Tempor id eu nisl nunc mi. Enim neque volutpat ac tincidunt. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
              <span><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Free</span><span><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Addis Ababa</span><span><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;July 31, 2021</span><span><a class="google-map" href="https://www.google.com/maps">Google Maps&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-square-alt"></i></a></span>
            </div>
          </div>
        </div>
    </div>

    <div id="cont" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 img-cont">
            <img src="https://images.unsplash.com/photo-1596023480651-22daf93b9c63?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzZ8fGV2ZW50c3xlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9" style="padding-left: 1rem;">
            <div class="card-body">
              <h5 class="card-title pb-2">Coming Together</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque varius morbi enim nunc. Id eu nisl nunc mi.  Tempor id eu nisl nunc mi. Enim neque volutpat ac tincidunt. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
              <span><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;160 ETB</span><span><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Bahir Dar</span><span><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;July 31, 2021</span><span><a class="google-map" href="https://www.google.com/maps">Google Maps&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-square-alt"></i></a></span>
            </div>
          </div>
        </div>
    </div>

    <div id="cont" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 img-cont">
            <img src="https://images.unsplash.com/photo-1599689018002-8f235eae9293?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGV2ZW50c3xlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9" style="padding-left: 1rem;">
            <div class="card-body">
              <h5 class="card-title pb-2">Cradle of Life</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque varius morbi enim nunc. Id eu nisl nunc mi.  Tempor id eu nisl nunc mi. Enim neque volutpat ac tincidunt. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
              <span><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;50 ETB</span><span><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Addis Ababa</span><span><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;July 31, 2021</span><span><a class="google-map" href="https://www.google.com/maps">Google Maps&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-square-alt"></i></a></span>
            </div>
          </div>
        </div>
    </div>

    <div id="cont" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 img-cont">
            <img src="https://images.unsplash.com/photo-1577897755823-5146c47349b8?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGV2ZW50c3xlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9" style="padding-left: 1rem;">
            <div class="card-body">
              <h5 class="card-title pb-2">Lights up</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque varius morbi enim nunc. Id eu nisl nunc mi.  Tempor id eu nisl nunc mi. Enim neque volutpat ac tincidunt. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
              <span><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;50 ETB</span><span><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Addis Ababa</span><span><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;July 31, 2021</span><span><a class="google-map" href="https://www.google.com/maps">Google Maps&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-square-alt"></i></a></span>
            </div>
          </div>
        </div>
    </div>

    <div id="cont" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 img-cont">
            <img src="https://images.unsplash.com/photo-1609922565629-7e6832d6caf1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjB8fGV2ZW50c3xlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9" style="padding-left: 1rem;">
            <div class="card-body">
              <h5 class="card-title pb-2">Inquisitive</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque varius morbi enim nunc. Id eu nisl nunc mi.  Tempor id eu nisl nunc mi. Enim neque volutpat ac tincidunt. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
              <span><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;50 ETB</span><span><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Addis Ababa</span><span><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;July 31, 2021</span><span><a class="google-map" href="https://www.google.com/maps">Google Maps&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-square-alt"></i></a></span>
            </div>
          </div>
        </div>
    </div>

    <div id="cont" class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 img-cont">
            <img src="https://images.unsplash.com/photo-1579544787614-fa683917e045?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDV8fGV2ZW50c3xlbnwwfDJ8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" class="img-fluid" alt="...">
          </div>
          <div class="col-md-9" style="padding-left: 1rem;">
            <div class="card-body">
              <h5 class="card-title pb-2">The social Dilemma</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Scelerisque varius morbi enim nunc. Id eu nisl nunc mi.  Tempor id eu nisl nunc mi. Enim neque volutpat ac tincidunt. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula</p>
              <span><i class="far fa-money-bill-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;50 ETB</span><span><i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;Addis Ababa</span><span><i class="far fa-clock"></i>&nbsp;&nbsp;&nbsp;&nbsp;July 31, 2021</span><span><a class="google-map" href="https://www.google.com/maps">Google Maps&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-external-link-square-alt"></i></a></span>
            </div>
          </div>
        </div>
    </div>



    








</div>





{% endblock body %}





{% block additional_script %}
<!-- to be filled in -->
{% endblock additional_script %}